{% extends 'base.html' %}

{% block content %}
        <!-- Header-->
        <header class="py-5" style="background-image: url('/static/assets/hero.jpg') ">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center my-5">
                            <h1 class="display-5 fw-bolder text-white mb-2">Food-Folio</h1>
                            <p class="lead text-white">Feel-good recipes from across the web!</p>
                            <div class="my-3">
                                <form action="/search">
                                    <div class="input-group input-group-lg">
                                        <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" placeholder="Look up a recipe or ingredients" name="q">
                                        <div class="input-group-append">
                                          <button class="btn btn-primary btn-lg" type="submit" id="inputGroup-sizing-lg"><i class="bi bi-search"></i></span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#dietSearch">Search By Diet</a>
                                <a class="btn btn-secondary btn-lg px-4" href="#ingSearch">Search By Ingredient</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Features (Trending) section-->
        <section class="py-5 border-bottom">
            <div class="text-center mb-5">
                <h2 class="fw-bolder">Don't know what to cook?</h2>
                <p class="lead mb-0">Check out these recipes!</p>
            </div>
            <div class="continer-fluid d-flex justify-content-center px-5 my-5" id="random">
                {% for r in data.recipes %}
                {%include 'recipes/recipe_card.html'%}
                {% endfor %}
            </div>
        </section>
        <!-- Diet Search Section -->
        <section class="bg-light py-5 border-bottom" id="dietSearch">
            <div class="container px-5 my-5">
                <div class="text-center mb-5">
                    
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="text-center">
                        <h1 class="display-4">Under Construction</h1>
                    </div>
                </div>
            </div>
        </section>
        <!-- Ingredient Search section-->
        <section class="py-5 border-bottom" id="ingSearch">
            <div class="container px-5 my-5 px-5">
                <div class="text-center mb-5">
                    <h2 class="fw-bolder">All Time Favorites</h2>
                    <p class="lead mb-0">Most popular recipes from across the web!</p>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="text-center">
                        <h1 class="display-4">Under Construction</h1>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}