{% extends 'base.html' %}

{% block content %}

<div class="container my-5">
    <div class="row justify-content-center" >
        <section class="col-md-2 justify-content-center" id="profileSideNav">
            <div class="container p-3 border">
                <div>
                    <h3>{{user.first_name}} {{user.last_name}}'s profile</h3>
                </div>
                <hr>
                <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link" href="/users/{{user.id}}">Favorites</a>
                    </li>
                    {% if user.id == g.user.id %}
                    <li class="nav-item">
                      <a class="nav-link active" href="/users/{{user.id}}/edit">Edit Profile</a>
                    </li>
                    {% endif %}
                  </ul>
            </div>
        </section>

        <section class="col-md-7 p-3 border" id="profileContent">
            {% block section %}
            {%include 'users/favorites.html' %}
            {% endblock %}
        </section>
    </div>
</div>

{% endblock %}